$colorScorePass: rgb(12, 206, 107);
$colorScoreAverage: rgb(255, 164, 0);
$colorScoreFail: rgb(255, 78, 66);
$badgeColor: #e9be62;
$fontScore: monospace;
$fontLabel: monospace;
$fontLink: monospace;
$fontSizeRegular: 125%;
$fontSizeSmall: 80%;

.root {
  border: 3px solid #e9be62;
  border-radius: 0.7rem;
  max-width: 23rem;
}
.logo {
  width: auto;
  height: 2rem;
  padding: 0.5rem;
}
.detail {
  padding: 0.5rem;
}
.score-pass {
  font-family: $fontScore;
  font-size: $fontSizeRegular;
  color: $colorScorePass;
}
.score-average {
  font-family: $fontScore;
  font-size: $fontSizeRegular;
  color: $colorScoreAverage;
}
.score-fail {
  font-family: $fontScore;
  font-size: $fontSizeRegular;
  color: $colorScoreFail;
}
.label {
  font-family: $fontLabel;
  font-size: $fontSizeSmall;
}
.link {
  font-family: $fontLink;
  font-size: $fontSizeSmall;
  color: $badgeColor;
}
.row {
  .scores {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .report {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
