// Buttons

// Mixin
@mixin btn-size($size: md) {
  @if $size == xs {
    //@media (min-width: 400px)  { @content ; }
    padding: $size_xs;
  }
  @else if $size == sm {
    //@media (min-width: 768px)  { @content ; }
    padding: $size_sm;
  }
  @else if $size == md {
    //@media (min-width: 1024px) { @content ; }
    padding: $size_md;
  }
  @else if $point == lg {
    //@media (min-width: 1366px) { @content ; }
    padding: $size_lg;
  }
  @else if $size == xl {
    //@media (min-width: 1500px) { @content ; }
    padding: $size_xl;
  }
}

// Default style
.btn {
  display: inline-block;
  color: $color_accent;
  background-color: $color_prime;
  border: 1px solid $color_accent;
  @include btn-size;
  @include border-radius ($size_xs/4);
  @include transition (all, 0.3s, ease);
  @include animation (0, 1000ms, linear, 1);
  @include breakpoint(md){
    @include border-radius ($size_md/5);
  }
  &:link, &:visited, &:hover, &:focus, &:active {
    color: $color_accent;
    text-decoration: none;
  }
  &:hover, &:focus, &:active {
    //transform: scale(1.06,1.06);
    //@include animation-name (bounce);
  }
  &:hover {
    background-color: $color_prime_900;
    //@include animation-name (bounce);
  }
  &:focus {
    background-color: $color_prime_900;
  }
  &:active {
    background-color: $color_second_900;
  }
  & + & {
    margin-left: $size_md;
  }
}




// Styles


// Sizes