.img {
  max-width: 100%;
}
.img-border {
  border: 1px solid $color_prime_100;
}
.img-right {
  float: right;
  margin-left: $size_md;
  margin-bottom: $size_md;
}
.img-left {
  float: left;
  margin-right: $size_md;
  margin-bottom: $size_md;
}
.img-center {
  margin-left: auto;
  margin-right: auto;
}
.img-thumbnail {
  @include breakpoint(sm){ width: 50%; }
}

.img-key {
  @include size(60%);
  margin-bottom: $size_md;
  @include breakpoint(xs){ 
    @include size($size_md * 14);
  }
  @include breakpoint(sm){ 
    float: right;
    margin-top: $size_md;
    margin-bottom: 0;
    margin-left: $size_md;
    @include size($size_md * 10);
  }
  @include breakpoint(md){ 
    margin-top: 0;
    @include size($size_md * 10);
  }
  @include breakpoint(lg){ 
    margin-top: 0;
    @include size($size_md * 11);
  }
  @include breakpoint(xl){ 
    margin-right: $size_md * 4;
    @include size($size_md * 10);
  }
}
.img-icon {
  @include size($size_md * 5);
  margin-right: $size_md;
  &:last-of-type {
    margin-right: 0;
  }
  @include breakpoint(xs){ 
    @include size($size_md * 6);
  }
  @include breakpoint(sm){ 
    margin-right: $size_md * 2;
    @include size($size_md * 8);
  }
}