.section-portfolio {
  color: #984863;
  position: relative;
  height: 520px;
  padding-top: $size_md * 18;
  background-size: $size_md * 22;
  background-repeat: no-repeat;
  background-position: 50% 5%;
  @include breakpoint(xs){
    height: 540px;
    padding-top: $size_md * 20;
    background-size: $size_md * 24;
    background-position: 50% 10%;
  }
  @include breakpoint(sm){
    height: 640px;
    padding-top: $size_md * 26;
    background-size: $size_md * 32;
    background-position: 50% 10%;
  }
  @include transition (all, 0.5s, ease);
  overflow: hidden;
}
.section-guide {
  @include breakpoint(sm){
    height: 620px;
  }
  @include breakpoint(md){
    height: 450px;
    padding-top: $size_md * 6;
    background-position: 130% bottom;
  }
  @include breakpoint(lg){
    background-position: 90% bottom;
  }
}
.section-casl {
  color: #6c5f32;
  background-color: $color_accent_10;
  @include breakpoint(md){
    height: 450px;
    padding-top: $size_md * 6;
    background-position: 130% bottom;
  }
  @include breakpoint(lg){
    height: 480px;
    background-position: 90% bottom;
  }
}
.section-email {
  height: 480px;
  @include breakpoint(xs){
    background-size: $size_md * 24;
  }
  @include breakpoint(sm){
    height: 580px;
    background-size: $size_md * 32;
  }
  @include breakpoint(md){
    height: 460px;
    padding-top: $size_md * 6;
    background-position: 130% bottom;
  }
  @include breakpoint(lg){
    height: 400px;
    padding-top: $size_md * 6;
    background-position: 95% bottom;
  }
}

.portfolio-thumb {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  @include transition (all, 0.5s, ease);
  @include animation (0, 1000ms, linear, 1);
  position: absolute;
  right: 0;
  bottom: 0;
}
.portfolio-desc {
  //margin-left: auto;
  //margin-right: auto;
  @include breakpoint(md){
    //float: left;
    width: 60%;
    padding-right: $size_md * 2;
    //width: 36em;
  }
  @include breakpoint(lg){
    width: 50%;
  }
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  @include transition (all, 0.5s, ease);
}
.portfolio-title {
  margin-top: 0;
}
.portfolio-img {
  margin-top: 0;
  + .portfolio-img {
    margin-top: $size_md;
  }
}

// Display responsively
.display-default {
  display: block;
  @include breakpoint(xs){
    display: none;
  }
}
.display-xs {
  @include breakpoint(xs){
    display: block;
  }
  @include breakpoint(sm){
    display: none;
  }
}
.display-sm {
  @include breakpoint(sm){
    display: block;
  }
  @include breakpoint(md){
    display: none;
  }
}

.display-md {
  @include breakpoint(md){
    display: block;
  }
  @include breakpoint(lg){
    display: none;
  }
}
.portfolio-thumb .display-md {
  @include breakpoint(md){
    display: block;
  }
  @include breakpoint(lg){
    display: block;
  }
}
.display-lg {
  @include breakpoint(lg){
    display: block;
  }
}
.display-thumb {
  margin-top: $size_md * 2;
  margin-bottom: $size_md * 2;
}
figure {
  margin: 0 0 $size_md * 2;
  position: relative;
}
figure .img {
  border: 1px solid $color_prime;
}
figure:last-of-type {
  margin-bottom: $size_md;
}
figcaption {
  margin: 0;
  padding: $size_md/2 $size_md;
  font-size: 80%;
  line-height: 1.3;
  color: $color_prime_50;
  background-color: $color_prime;
  display: inline-block;
  //position: absolute;
  //left: 0;
  //bottom: 0;
}
// Feature
.portfolio-feature {
  margin-right: auto;
  margin-bottom: $size_md * 2;
  margin-left: auto;
  width: $size_md * 20;
  @include breakpoint(sm){
    width: $size_md * 28;
  }
  @include breakpoint(md){
    width: $size_md * 36;
  }
  @include breakpoint(lg){
    width: $size_md * 48;
  }
  //background-size: 100%;
  //background-repeat: no-repeat;
  //background-position: center center;
  @include transition (all, 0.5s, ease);
  @include animation (0, 1000ms, linear, 1);
}
