* {
  box-sizing: border-box;
}
html {
  font-family: $font_sans_serif;
  font-weight: 400;
  font-size: 100%;
  @include breakpoint(md){
    font-size: $font_size_base;
  }
}
body {
  position: relative;
  line-height: $line_height_base;
  background: $color_bg_prime;
  color: $color_prime_60;
  margin: $size_none;
  padding: $size_none;
  height: 100%;
  width: 100%;
}
// Links
a { @include links($color_accent, $color_accent, $color_accent_100, $color_accent_100, $color_accent_100); }

// Layout
.contain {
  margin: 0 auto;
  padding: 0 $size_md * 3;
  width: 100%;
  @include breakpoint(sm){
    padding: 0 $size_md * 8;
  }
  @include breakpoint(md){
    width: $size_md * 36;
    padding: 0;
  }
  @include breakpoint(lg){
    width: $size_md * 42;
  }
  @include breakpoint(xl){
    width: $size_md * 54;
  }
  @include clearfix;
}
// Layout
.contain-fluid {
  width: 100%;
  @include clearfix;
}


.page-title {
  margin-top: $size_none;
  margin-bottom: 0;
}
.section-title {
  margin-top: 0;
}
.subsection-title {
  margin-top: $size_md * 4;
}


// Header

.header {
  height: $size_md * 5.25;
  @include breakpoint(md){
    height: $size_md * 6;
  }
}
.site-header {
  background: linear-gradient(0deg, rgba(35,47,62,0) 0%, rgba(26,35,46,1) 100%);
  display: block;
  position: fixed;

  width: 100%;
  padding: $size_md $size_none;
  @include transition (all, 0.5s, ease);
  top: 0;
}
.heady-up {
  transform: translateY(-100%);
}
.heady-down {
  transform: translateY(0%);
}
.site-logo {
  display: block;
  position: relative;
  float: left;
  @include transition (all, 0.5s, ease);
  @include animation (0, 1000ms, linear, 1);
  &:hover {
    background-color: $color_second;
    @include animation-name (bounce);
  }
  &:focus {
    background-color: $color_second;
  }
}
.logo-link {
  box-sizing: border-box;
  display: inline-block;
  padding: $size_md;
  font-size: 1.5rem;
  line-height: 1rem;
  color: $white;

  @include transition (all, 0.5s, ease);
  @include breakpoint(md){
    font-size: $size_xxl;
    padding: $size_lg $size_lg - 0.125;
  }
  &:link, &:visited, &:hover, &:focus, &:active {
    color: $white;
    text-decoration: none;
  }
  &:focus {
    background-color: $color_second;
  }
  &:active {
    background-color: $color_second_700;
  }
}



// footer
.footer {
  background-color: $color_bg_prime_darker;
  color: $color_prime_70;
}
.contact-set a {
  display: block;
  @include transition (all, 0.5s, ease);
  @include animation (0, 1000ms, linear, 1);
  img {
    @include animation (0, 1000ms, linear, 1);
  }
  &:link, &:visited, &:hover, &:focus, &:active {
    text-decoration: none;
  }
}
.contact-set .img {
  max-width: 80%;
  @include breakpoint(sm){
    max-width: 100%;
  }
}

.copyright {
  font-size: 0.875em;
  @include breakpoint(md){
    font-size: 0.8em;
  }
}


// Keynote
.keynote {
  font-size: 1.25em;
  //margin-bottom: $size_md * 4;
  font-weight: 300;
  //text-align: center;
  @include breakpoint(sm){
    text-align: left;
  }
  @include breakpoint(md){
    font-size: 1.25em;
  }
  @include breakpoint(lg){

  }
  p:last-child {
    margin-bottom: 0;
  }
}
.keynote-text {
  p {
    font-family: $font_sans_serif;
  }
  @include breakpoint(lg){
    width: $size_md * 36;
    margin-top: $size_md;
  }
  @include breakpoint(xl){
    margin-top:0;
  }
}
.keynote-subtitle {
  margin-bottom: $size_md * 2;
  font-weight: 300;
}
.keynote-desc {
  color: #984863;
  padding-top: $size_md * 4;
  padding-bottom: $size_md * 10;
}
.keynote-icons {
  text-align: center;
  color: $color_prime_600;
  text-align: center;
  margin-top: $size_md * 2;
}
.keynote-icons-title {
  font-size: .8em;
  line-height: 1;
}

.readable {
  @include breakpoint(md){
    width: $size_md * 36;
    padding-right: $size_md * 4;
  }
  @include breakpoint(lg){
    width: $size_md * 42;
    padding-right: $size_md * 6;
  }
  @include breakpoint(xl){
    width: $size_md * 54;
    padding-right: $size_md * 22;
  }
}

// Alignment
.align {
  &.both {
    @include center(both);
  }
  &.top {
    @include center(top);
  }
  &.right {
    @include center(right);
  }
  &.bottom {
    @include center(bottom);
  }
  &.left {
    @include center(left);
  }
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.text-center {
  text-align: center;
}


// Lists
.list-none {
  @include list-reset;
}
.list-contact {
  @include list-reset;
}
.list-xp {
  @include list-reset;
  li {
    margin-bottom: $size_md * 2;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.list-skills {
  @include list-reset;
  li {
    display: inline;
    @include transition (all, 0.5s, ease);
    &:after {
      color: $color_accent;
      content: " + ";
    }
    &:last-child:after {
      content: "";
    }
    &:hover {
      color: $color_accent;
    }
  }
}


// Navigation
.nav-header {
  display: block;
  float: right;
}
.nav-main {
  clear: both;
  @include list-reset;
  margin-right: -$size_md;
  @include breakpoint(md){
    margin-right: -$size_md;
  }
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    font-size: $size_md;
    line-height: $size_sm;
    padding: $size_sm;
    background: $color_prime;
    border: 1px solid $color_prime_300;
    @include border-radius ($size_xs/4);
    @include transition (all, 0.5s, ease);
    @include animation (0, 1000ms, linear, 1);
    @include breakpoint(md){
      font-size: $size_md;
    }
    &:link, &:visited, &:hover, &:focus, &:active {
      color: $color_accent;
      text-decoration: none;
    }
    &:hover, &:focus {
      background: $color_prime_600;
      border-color: $color_accent;
    }
    &:active {
      color: $color_accent_600;
      background: $color_prime_700;
    }
    &.active {
      color: $color_accent_600;
    }
  }
}


// Skip
.link-skip {
  display: inline-block;
  position: absolute;
  left: -22rem;
  font-size: $size_md;
  line-height: $size_md;
  color: $color_prime;
  background-color: $color_accent;
  padding: $size_xs;
  @include border-radius (0 $size_md/4 $size_md/4 0);
  @include transition (all, 0.5s, ease);
  @include breakpoint(md){
    font-size: $size_md;
    @include border-radius (0 $size_md/5 $size_md/5 0);
  }
  &:visited, &:focus, &:hover, &:active {
    color: $color_prime;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    left: 0;
    background-color: $color_accent;
  }
  &:active {
    background-color: $color_accent_600;
  }
}

.quote {
  position: relative;
  margin: 0 auto $size_lg * 2 auto;
  blockquote {
    margin: $size_lg 0;
    padding-right: $size_lg;
    @include clearfix;
    &:before, &:after {
      display: inline;
      position: absolute;
      font-family: $font_serif;
      font-size: $size_lg * 2;
      font-weight: 300;
      color: $color_prime_400;
    }
    &:before {
      content: "\275D";
      top: -$size_lg;
      left: -$size_lg * 1.5;
    }
    &:after {
      content: "\275E";
      right: -$size_lg;
    }
  }
  cite {
    margin-top: $size_md;
    color: $color_accent_70;
    font-style: normal;
  }
}
// Size
.width-10 { width: 100%; @include breakpoint(md){width: $size_10; } }
.width-20 { width: 100%; @include breakpoint(md){width: $size_20; } }
.width-30 { width: 100%; @include breakpoint(md){width: $size_30; } }
.width-40 { width: 100%; @include breakpoint(md){width: $size_40; } }
.width-50 { width: 100%; @include breakpoint(md){width: $size_50; } }
.width-60 { width: 100%; @include breakpoint(md){width: $size_60; } }
.width-70 { width: 100%; @include breakpoint(md){width: $size_70; } }
.width-80 { width: 100%; @include breakpoint(md){width: $size_80; } }
.width-90 { width: 100%; @include breakpoint(md){width: $size_90; } }
.width-100 { width: 100%; @include breakpoint(md){width: $size_100; } }


// No line breaks
.nowrap {
  white-space: nowrap;
}
