// Typography
p {
  line-height: $line_height_base;
  @include transition (all, 0.5s, ease);
}
// h1 32 > 40
// h2 30 > 36
// h3 26 > 32
// h4 22 > 28
// h5 20 > 24
// h6 16 > 20
h1 {font-size: 2.375em; @include breakpoint(md){ font-size: 2.4em; } font-weight: 200;}
h2 {font-size: 2em; @include breakpoint(md){ font-size: 2em; } font-weight: 300;}
h3 {font-size: 1.875em; @include breakpoint(md){ font-size: 1.8em; } font-weight: 300;}
h4 {font-size: 1.625em; @include breakpoint(md){ font-size: 1.6em; } font-weight: 300;}
h5 {font-size: 1.375em; @include breakpoint(md){ font-size: 1.4em; } font-weight: 500;}
h6 {font-size: 1.25em; @include breakpoint(md){ font-size: 1.2em; } font-weight: 500;}
h1, h2, h3, h4, h5, h6 {
  font-family: $font_sans_serif;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 1.25rem;
  @include breakpoint(md){
    margin-bottom: 1.2rem;
  }
  @include transition (all, 0.5s, ease);
  & + p {
    margin-top: 0;
  }
}
