// Colours
$white: #fff;
$black: #000;
// Background
$color_bg_prime:  #232f3e;
$color_bg_prime_dark: #1c2531;
$color_bg_prime_darker: #151c25;
// Prime (blue)
$color_prime: #232f3e;
$color_prime_10: #f3f4f6; //2a2f37
$color_prime_20: #e8eaee;
$color_prime_30: #dde0e5;
$color_prime_40: #d2d6dd;
$color_prime_50: #c7ccd4;
$color_prime_60: #bcc2cc;
$color_prime_70: #b1b8c3;
$color_prime_100: #465f7d;
$color_prime_200: #3f546f;
$color_prime_300: #35485f;
$color_prime_400: #2c3b4e;
$color_prime_500: $color_prime;
$color_prime_600: #1c2531;
$color_prime_700: #151c25;
$color_prime_800: #0e1218;
$color_prime_900: #07090c;
// Accent (gold)
$color_accent: #e9be62;
$color_accent_darker: #cc006c;
$color_accent_10: #F6F5F2; //b9ad92
$color_accent_20: #EDEBE7;
$color_accent_30: #E5E2DC;
$color_accent_40: #DCD9D1;
$color_accent_50: #D4CFC6;
$color_accent_60: #CBC6BB;
$color_accent_70: #C3BDAF;
$color_accent_100: #f3daa7;
$color_accent_200: #f0d396;
$color_accent_300: #eecc84;
$color_accent_400: #ebc573;
$color_accent_500: $color_accent;
$color_accent_600: #e4b040;
$color_accent_700: #dea11f;
$color_accent_800: #bb881a;
$color_accent_900: #996f15;
// Second
$color_second: #1e41e9;
$color_second_10: #f4f6fe;
$color_second_20: #e3e7fc;
$color_second_30: #e3e7fc;
$color_second_40: #e3e7fc;
$color_second_50: #d1d8fa;
$color_second_100: #adbaf7;
$color_second_200: #899cf3;
$color_second_300: #657df0;
$color_second_400: #425fec;
$color_second_500: $color_second;
$color_second_600: #1434cc;
$color_second_700: #102ba8;
$color_second_800: #0d2284;
$color_second_900: #091861;
// Neutral gray
$color_gray: rgba(48,48,48,1);
$color_gray_10: rgba(244,244,244,1);
$color_gray_20: rgba(225,225,225,1);
$color_gray_30: rgba(195,195,195,1);
$color_gray_40: rgba(166,166,166,1);
$color_gray_50: rgba(136,136,136,1);
$color_gray_100: rgba(126,126,126,1);
$color_gray_200: rgba(107,107,107,1);
$color_gray_300: rgba(87,87,87,1);
$color_gray_400: rgba(68,68,68,1);
$color_gray_500: $color_gray;
$color_gray_600: rgba(38,38,38,1);
$color_gray_700: rgba(28,28,28,1);
$color_gray_800: rgba(19,19,19,1);
$color_gray_900: rgba(9,9,9,1);
// Cool gray
$color_gray_cool: #abaebd;
$color_gray_cool_10: #f8f8f9;
$color_gray_cool_20: #edeef1;
$color_gray_cool_30: #e2e3e8;
$color_gray_cool_40: #d7d8e0;
$color_gray_cool_50: #ccced7;
$color_gray_cool_100: #f8f8f9;
$color_gray_cool_200: #edeef1;
$color_gray_cool_300: #e2e3e8;
$color_gray_cool_400: #d7d8e0;
$color_gray_cool_500: #ccced7;
$color_gray_cool_600: #f8f8f9;
$color_gray_cool_700: #edeef1;
$color_gray_cool_800: #e2e3e8;
$color_gray_cool_900: #d7d8e0;
// Warm gray
$color_gray_warm: #c5bfb3;
$color_gray_warm_10: #f8f7f6;
$color_gray_warm_20: #efeeeb;
$color_gray_warm_30: #e6e4de;
$color_gray_warm_40: #dbd7d0;
$color_gray_warm_50: #d0cbc1;
$color_gray_warm_100: #f8f8f9;
$color_gray_warm_200: #edeef1;
$color_gray_warm_300: #e2e3e8;
$color_gray_warm_400: #d7d8e0;
$color_gray_warm_500: #ccced7;
$color_gray_warm_600: #f8f8f9;
$color_gray_warm_700: #edeef1;
$color_gray_warm_800: #e2e3e8;
$color_gray_warm_900: #d7d8e0;




// Link
$color_link: $color_accent;
$color_link_darker: $color_accent_700;


// Typography
$font_sans_serif: 'Montserrat', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
$font_sans_serif2: 'IBM Plex Mono', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
$font_serif: 'Cutive Mono', 'Baskerville', 'Times New Roman', 'Times', serif;
$font_size_base: 125%; // 20px // 112.5%; // 18px
$line_height_base: 1.5; // 30px


// Utilities
$size_none: 0;
$size_xxs: .7rem; // 11px / 14px
$size_xs: .8rem; // 12px/ 16px
$size_sm: .9rem; // 14px / 18px
$size_md: 1rem; // 16px / 20px
$size_lg: 1.5rem; // 24px / 30px
$size_xl: 1.8rem; // 28px / 36px
$size_xxl: 2rem; // 32px / 40px

$size_10: 10%;
$size_20: 20%;
$size_30: 30%;
$size_40: 40%;
$size_50: 50%;
$size_60: 60%;
$size_70: 70%;
$size_80: 80%;
$size_90: 90%;
$size_100: 100%;