@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  padding: 0;
  font: 14px 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  margin: 1rem 0;
}

h2 {
  margin: 0.8rem 0;
}

h3 {
  margin: 0.6rem 0;
}


.list-links {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.list-links li {
  flex: 1 1 100%;
}
.list-links li a {
  text-decoration: none;
}
.list-links .fa {
  display: block;
}
.ls-row {
  margin: 0 auto;
}
[class*="ls-col"] {
  padding: 1rem;
  margin: 1rem;
}
.btn-default {
  color: #fff;
  padding: 1rem 1.5rem;
  background-color: grey;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: inline-block;
}
