@font-face {
  font-family: "gilroyextrabold";
  src: url("../scss/themes/jumbleberry/fonts/gilroy/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../scss/themes/jumbleberry/fonts/gilroy/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroylight";
  src: url("../scss/themes/jumbleberry/fonts/gilroy/gilroy-light-webfont.woff2") format("woff2"),
    url("../scss/themes/jumbleberry/fonts/gilroy/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p {
  line-height: $line_height_base;
  @include transition(all, 0.5s, ease);
}

h1 {
  font-size: 2.375em;
  font-weight: 500;
}
h2 {
  font-size: 2em;
  font-weight: 300;
}
h3 {
  font-size: 1.875em;
  font-weight: 300;
}
h4 {
  font-size: 1.625em;
  font-weight: 300;
}
h5 {
  font-size: 1.375em;
  font-weight: 500;
}
h6 {
  font-size: 1.25em;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_sans_serif;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 1.25rem;
  @include breakpoint(md) {
    margin-bottom: 1.2rem;
  }
  @include transition(all, 0.5s, ease);
  & + p {
    margin-top: 0;
  }
}
