$lighthousebadge_color_score_pass: rgb(12, 206, 107);
$lighthousebadge_color_score_average: rgb(255, 164, 0);
$lighthousebadge_color_score_fail: rgb(255, 78, 66);

$lighthouse_badge_color: #e9be62;

$lighthouse_font_score: monospace;
$lighthouse_font_label: $lighthouse_font_score;
$lighthouse_font_link: $lighthouse_font_score;

$lighthouse_font_size_reg: 125%;
$lighthouse_font_size_small: 80%;

.LightHouseBadge {
  border: 3px solid $lighthouse_badge_color;
  border-radius: 0.7rem;
  .logo {
    width: auto;
    height: 2rem;
    padding: 0.5rem;
  }
  .detail {
    padding: 0.5rem;
  }
  .score {
    font-family: $lighthouse_font_score;
    font-size: $lighthouse_font_size_reg;
  }
  .score--pass {
    color: $lighthousebadge_color_score_pass;
  }
  .score--average {
    color: $lighthousebadge_color_score_average;
  }
  .score--fail {
    color: $lighthousebadge_color_score_fail;
  }
  .label {
    font-family: $lighthouse_font_label;
    font-size: $lighthouse_font_size_small;
  }
  .link {
    font-family: $lighthouse_font_link;
    font-size: $lighthouse_font_size_small;
    color: $lighthouse_badge_color;
  }
  .row__scores {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    @media (min-width: 486px) {
      justify-content: space-evenly;
    }
  }
  .row__report {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
}
